@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-image: url(assets/img/Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 2em;
    height: calc(8em + 5.5em);
}

header div {
    width: 8em;
    margin: auto;
    background-image: linear-gradient(60deg, rgb(230, 8, 78) 0%, rgba(237, 81, 193, 0.931) 35%, rgb(255, 0, 255) 55%, rgb(155, 13, 231) 100%);
    border-radius: 50%;
    transition: transform .3s;
    animation: headerToBottom .5s .2s backwards;
}

header div img {
    width: 100%;
    border-radius: 50%;
    display: flex;
    padding: 0.2em;
}

header div:hover {
    transform: scale(1.2);
}

header p {
    text-align: center;
    font-size: 1.1em;
    padding: 0.9em;
    color: #FFF;
    animation: headerToBottom .5s .2s backwards;
}

main {
    max-width: 33em;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

section {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: .375em;
    border-radius: 1em;
    animation: cardsToTop .6s backwards;
    box-shadow: 6px 6px 11px 5px #000;
}

section:nth-child(2) {
    animation-delay: .4s;
}

section:nth-child(3) {
    animation-delay: .8s;
}

section div {
    background-color: #2A2634;
    padding: 2em;
    border-radius: .75em;
}

p, h2 {
    font-family: 'Inter';
    line-height: 160%;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

ul {
    display: flex;
    gap: .875em;
    flex-wrap: wrap;
}

ul li {
    transition: transform .3s;
}

ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 5.3em;
    border-radius: .437em;
}

.streamers-list img {
    border-radius: 50%;
    border: 1px solid #443E54;
    width: 4.6em;
}

.streamers-list, .games-list, .networks-socials-list {
    margin-top: 1.5em;
}


@keyframes headerToBottom {
    0%{
        opacity: 0;
        transform: translateY(-2em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes cardsToTop {
    0%{
        opacity: 0;
        transform: translateY(2em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
